<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sneakers</title>
</head>
<body>
  <h1>Sneakers</h1>
  <% if(error) { %>
    <h2><%= error %></h2>
  <% } %>
  <ul>
    <% sneakers.forEach(function(sneaker) { %>
      <li>
        <%= sneaker.text %>
          - 
        <%= sneaker.done ? 'good' : 'not good' %>
      </li>
    <% }) %>
  </ul> 
</body>
</html>